
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the required fields to get your own unique version of a classic nursery rhyme.</h1>
    <form action="/marymadlib" method="post">
    <label for="noun1">Enter a noun</label>
    <input id="noun1" name="noun1" type="text">
    <br>
    <label for="adj1">Enter an adjective</label>
    <input id="adj1" name="adj1" type="text">
    <br>
    <label for="verb1">Enter a verb</label>
    <input id="verb1" name="verb1" type="text">
    <br>
    <label for="verb2">Enter a past tense verb</label>
    <input id="verb2" name="verb2" type="text">
    <br>
    <label for="noun2">Enter a noun</label>
    <input id="noun2" name="noun2" type="text">
    <br>
    <label for="verb3">Enter a past tense verb</label>
    <input id="verb3" name="verb3" type="text">
    <br>
    <label for="noun3">Enter a noun</label>
    <input id="noun3" name="noun3" type="text">
    <br>
    <label for="noun4">Enter a plural noun</label>
    <input id="noun4" name="noun4" type="text">
    <br>
    <label for="verb4">Enter a verb</label>
    <input id="verb4" name="verb4" type="text">
    <br>
    <label for="verb5">Enter a past tense verb</label>
    <input id="verb5" name="verb5" type="text">
    <br>
    <button class="btn btn-danger" type="submit">Go!</button>
    </form>
  </body>
</html>